#artPageBox {
  gap: 20px;
}

#artPageBox h2 {
  margin: 0 0 15px;
}

/*GROUP OF ARTEFACTS*/

.artsBox {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px 0;
  padding: 0 20px;
}

.artsBox button {
  border: none;
  background-color: transparent;
}

.artsBox img {
  width: 100%;
  border-radius: 7px;
  transition: 0.2s;
}

.artsBox img:hover {
  transform: scale(1.2);
}

/*POPUP SCREEN*/

#popArtExitScreen {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

#popArtEnlarge {
  max-width: 100%;
}

.popArt {
  max-height: 70%;
  max-width: 90%;
  border-bottom: 3px solid var(--mediumPastel);
  border-radius: 5px 5px 0 0;
}

/*POPUP SCROLL*/

#popArtScrollBox {
  max-width: 90%;
}

#popArtScroll {
  border-left: 3px solid var(--mediumPastel);
  border-right: 3px solid var(--mediumPastel);
  background-color: var(--lightPastel);
  overflow-x: auto;
}

#popArtScroll::-webkit-scrollbar {
  height: 1.2rem;
}

#popArtScroll::-webkit-scrollbar-thumb {
  box-shadow: inset 1px 2px 3px 1px var(--lighterPastel);
  border-radius: 10px;
  background-color: var(--darkPastel);
}

#popArtScroll img {
  max-height: 70px;
  border-left: 2px solid var(--mediumPastel);
  border-right: 2px solid var(--mediumPastel);
}

/*POPUP BTNS*/

#popArtInfoBtn,
#popArtExitBtn {
  width: 90%;
  color: #2e2e2e;
  font-size: 1.35em;
  font-weight: 800;
  border: 3px solid var(--mediumPastel);
  background-color: var(--lighterPastel);
  transition: 0.2s;
}

#popArtInfoBtn:hover,
#popArtExitBtn:hover {
  background-color: var(--lightPastel);
}

#popArtInfoBtn {
  border: 3px solid var(--mediumPastel);
  border-top: 0;
  padding: 5px 0 0;
}

#popArtExitBtn {
  display: flex;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  padding: 7px 0;
}

#popArtInfoBtn img {
  max-height: 33px;
}

/*INFO SCREEN*/

#artInfoBox {
  position: absolute;
  width: 90%;
  max-width: 600px;
  border: 5px solid var(--mediumPastel);
  border-radius: 20px;
  background-color: var(--lighterPastel);
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  z-index: 1;
}

#artInfo {
  align-items: center;
  color: rgba(0, 0, 0, 0.9);
  padding: 0 35px;
}

#artInfoTitle {
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

#artInfoTitle hr {
  min-width: 10%;
  width: 0;
  flex-grow: 1;
  border: 2px solid var(--shadeBlack);
}

#artInfoTitle h4 {
  font-size: 1.4em;
  font-weight: 800;
  text-align: center;
  margin: 5px 10px;
  padding: 0;
}

#artInfoStory,
#artInfoDesc {
  font-size: 1.1em;
  font-weight: 500;
  width: 85%;
  margin: 10px 0;
  border-radius: 10px;
  padding: 15px 25px;
  background-color: var(--mediumPastel);
}

#artInfoExit {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.3em;
  font-weight: 800;
  margin-top: 10px;
  border: none;
  border-top: 3px solid var(--mediumPastel);
  border-radius: 0 0 20px 20px;
  padding: 7px 0;
  background-color: var(--lighterPastel);
  transition: 0.2s;
}

#artInfoExit:hover {
  background-color: var(--lightPastel);
}