.artBox {
  position: relative;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 8px 0;
  margin: 0 0 30px 0;
  padding: 0 20px;
  z-index: 0;
}

.art {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.art img {
  width: 100%;
  border-radius: 7px;
  height: auto;
  transition: 2s;
}

/*POPUP SCREEN*/

#popArtExitScreen {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

#popArtEnlarge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.popArt {
  display: none;
  max-width: 95%;
  max-height: 90%;
  border-bottom: 3px solid rgb(226, 194, 162);
}

/*POPUP SCROLL*/

#popArtScrollBox {
  position: relative;
  align-items: center;
  height: 75px;
  width: 95%;
  background-color: rgb(255, 218, 194);
  overflow-x: hidden;
}

#popArtScrollBox img {
  height: 75px;
  width: 100px;
}

#popArtScroll {
  position: absolute;
  display: flex;
}

#popArtScrollLeft,
#popArtScrollRight {
  position: absolute;
  height: 100%;
  width: 30px;
  font-size: 25px;
}

#popArtScrollLeft {
  left: 0;
  transform: scaleX(-1);
}

#popArtScrollRight {
  right: 0;
}

/*POPUP EXIT BTN*/

#popArtExitBtn {
  width: 95%;
  color: #2e2e2e;
  font-size: 23px;
  font-weight: 700;
  border-radius: 0 0 5px 5px;
  border: 3px solid rgb(226, 194, 162);
  padding: 3px;
  background-color: rgb(255, 218, 194);
}