main {
  --lighterPastel: rgb(255, 228, 210);
  --lightPastel: rgb(255, 204, 171);
  --mediumPastel: rgb(232, 199, 167);
  --darkPastel: rgb(255, 158, 94);
  --darkerPastel: rgb(255, 139, 62);
}

.artBox {
  position: relative;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 8px 0;
  margin: 0 0 30px 0;
  padding: 0 20px;
  z-index: 0;
}

.art {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.art img {
  width: 100%;
  border-radius: 7px;
  height: auto;
  transition: 2s;
}

/*POPUP SCREEN*/

#popArtExitScreen {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

#popArtEnlarge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.popArt {
  display: none;
  max-width: 90%;
  max-height: 80%;
  border-bottom: 3px solid var(--mediumPastel);
}

/*POPUP SCROLL*/

#popArtScrollBox {
  position: relative;
  align-items: center;
  height: 90px;
  width: 90%;
  background-color: var(--lighterPastel);
  overflow-x: hidden;
}

#popArtScrollBox img {
  height: 90px;
}

#popArtScroll {
  position: absolute;
  display: flex;
}

#popArtScrollLeft,
#popArtScrollRight {
  position: absolute;
  height: 100%;
  width: 40px;
  font-size: 35px;
  border: 3px solid var(--mediumPastel);
  border-top: none;
  border-bottom: none;
  padding-left: 8px;
  background-color: var(--darkPastel);
  transition: 0.2s;
}

#popArtScrollLeft {
  left: 0;
  transform: scaleX(-1);
}

#popArtScrollRight {
  right: 0;
}

#popArtScrollLeft:hover,
#popArtScrollRight:hover {
  background-color: var(--darkerPastel);
}

/*POPUP BTNS*/

#popArtInfoBtn,
#popArtExitBtn {
  width: 90%;
  color: #2e2e2e;
  font-size: 20px;
  font-weight: 700;
  border: 3px solid var(--mediumPastel);
  background-color: var(--lighterPastel);
  transition: 0.2s;
}

#popArtInfoBtn:hover,
#popArtExitBtn:hover {
  background-color: var(--lightPastel);
}

#popArtInfoBtn {
  border: 3px solid var(--mediumPastel);
  border-top: 0;
  padding: 5px 0 0;
}

#popArtExitBtn {
  display: flex;
  justify-content: center;
  border-radius: 0 0 5px 5px;
  padding: 4px 0;
}

#popArtInfoBtn img,
#popArtExitBtn img {
  max-height: 35px;
}

/*INFO SCREEN*/

#artInfoBox {
  position: absolute;
  width: 70%;
  max-width: 700px;
  border: 5px solid var(--mediumPastel);
  border-radius: 20px;
  background-color: var(--lighterPastel);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

#artInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.9);
  padding: 0 35px;
}

#artInfoTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#artInfoTitle hr {
  position: absolute;
  width: 75%;
  top: 36px;
  border: 1px solid black;
  z-index: -1;
}

#artInfoTitle h4 {
  font-size: 24px;
  text-shadow: 1px 1px 1px var(--mediumPastel);
  padding: 0 10px;
  background-color: var(--lighterPastel);
}

#artInfoStory,
#artInfoDesc {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
  border-radius: 10px;
  padding: 15px 25px;
  background-color: var(--mediumPastel);
}

#artInfoExit {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border-top: 3px solid var(--mediumPastel);
  border-radius: 0 0 20px 20px;
  padding: 4px 0;
  background-color: var(--lighterPastel);
  transition: 0.2s;
}

#artInfoExit:hover {
  background-color: var(--lightPastel);
}

#artInfoExit img {
  height: 35px;
}