#charListBox {
    width: 100%;
    margin-top: 20px;
}

#charListBox button {
    width: 95%;
    max-width: 450px;
    font-size: 1.5em;
    border: 3px solid var(--darkerPastel);
    box-shadow: inset 0 0 5px 1px var(--deepPastel),
        0 0 0 3px var(--darkerPastel);
    padding: 12px 30px;
    background-color: var(--darkPastel);
    transition: 0.3s;
}

#charListBox button:first-of-type {
    border-radius: 20px 20px 0 0;
}

#charListBox button:last-of-type {
    border-radius: 0 0 20px 20px;
    border-bottom: 5px solid var(--darkerPastel);
}

#charListBox button:hover {
    box-shadow: inset 0 0 7px 1px var(--deepPastel),
        0 0 0 3px var(--darkerPastel);
    background-color: var(--darkerPastel);
}

/*SHOW CHARACTER'S INFO*/

#charInfoBoxScreen {
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}

#charInfoBox {
    position: absolute;
    top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "nameplate"
        "classplate"
        "backplate"
        "imageplate"
        "descplate"
        "npcplate"
        "itemplate"
        "storyplate"
        "exitplate";
    justify-items: center;
    width: 85%;
    border-radius: 20px;
    padding-bottom: 20px;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}

#charInfoName,
#charInfoClass,
#charInfoBackground,
#charInfoCore,
#charInfoImg,
.charInfoTextBox,
#charExitBtn {
    width: 100%;
    border: 3px solid var(--darkerPastel);
    box-shadow: inset 0 0 3px 3px var(--deepPastel),
        0 0 0 3px var(--darkerPastel);
    background-color: var(--lightPastel);
}

#charInfoName {
    grid-area: nameplate;
    border-radius: 20px 20px 0 0;
}

#charInfoName h3 {
    color: var(--shadeBlack);
    text-shadow: 0px 0px 1px var(--shadeBlack);
    margin: 0;
    padding: 10px 20px 12px;
}

#charInfoClass,
#charInfoBackground {
    color: var(--shadeBlack);
    font-size: 1.2em;
    font-weight: 800;
    padding: 13px 0;
}

#charInfoClass {
    grid-area: classplate;
    gap: 15px;
}

#charInfoBackground {
    grid-area: backplate;
    text-align: center;
}

#charInfoImg {
    grid-area: imageplate;
    padding: 5px 0;
}

#charImgBox {
    height: calc(100% - 14px);
    margin: 10px;
}

.charImgHandle {
    height: 100%;
    width: 37px;
    font-size: 35px;
    margin: 0 2px;
    border: none;
    border-radius: 0 10px 10px 0;
    box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, 0.5);
    padding-left: 6px;
    background-color: var(--mediumPastel);
    transition: 0.2s;
}

.charImgHandle:hover {
    background-color: var(--darkerPastel);
    box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, 0.6);
}

.charImgHandle:first-of-type {
    transform: scaleX(-1);
}

.charImg {
    display: none;
    width: 100%;
    max-width: 70%;
    max-height: 450px;
    box-shadow: 0 0 5px 3px var(--shadeBlack);
}

.charInfoTextBox img {
    width: 90%;
    max-height: 275px;
    max-width: 275px;
    margin-top: 3px;
}

#charInfoDescriptionBox,
#charInfoCompanionsBox,
#charInfoPossessionsBox,
#charInfoBackstoryBox {
    color: var(--shadeBlack);
    font-size: 1.1em;
    text-align: center;
    padding: 0 0 8px;
}

#charInfoDescriptionBox {
    grid-area: descplate;
}

#charInfoCompanionsBox {
    grid-area: npcplate;
}

#charInfoPossessionsBox {
    grid-area: itemplate;
}

#charInfoBackstoryBox {
    grid-area: storyplate;
}

/*EXPAND BTNS*/

.charExpandBtn {
    cursor: pointer;
}

.charExpandBtn,
.charInfoText {
    padding: 0 25px;
}

.charInfoText p:first-of-type {
    margin-top: 5px;
}

.charInfoText p {
    margin: 13px 0;
}

.charInfoText p:last-of-type {
    margin-bottom: 15px;
}

.charExpandBtnLine {
    border: 1px solid var(--shadeBlack);
    margin: -5px auto 5px;
    width: 0;
    opacity: 0;
    transition: 0.3s;
}

.charExpandBtn:hover .charExpandBtnLine {
    width: 75%;
    opacity: 1;
}

#charInfoBox h4 {
    font-weight: 800;
    cursor: pointer;
}

#charInfoBox h5 {
    font-size: 1.4rem;
    font-weight: 800;
    margin: 5px auto 8px;
}

.charInfoText {
    display: none;
}

/*EXIT*/

#charExitBtn {
    grid-area: exitplate;
    color: var(--shadeBlack);
    font-weight: 800;
    font-size: 1.4em;
    text-align: center;
    padding: 10px 0;
    border-radius: 0 0 20px 20px;
    transition: 0.2s;
    cursor: pointer;
}

#charExitBtn:hover {
    box-shadow: inset 0 0 3px 3px var(--deepPastel),
        0 0 0 3px var(--darkerPastel);
    background-color: var(--darkerPastel);
}