.grid1 {
    position: relative;
    display: grid;
    grid-template-columns: 70% 30%;
    z-index: 0;
}

.grid1 p {
    font-size: 20px;
}

.qna {
    position: relative;
    width: 100%;
    z-index: 0;
}

.qna p {
    font-size: 25px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.questions {
    border: 2px solid hsl(231, 26%, 20%);
    border-radius: 20px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 50px;
    background-color: hsl(231, 26%, 20%);
}

.questions:hover {
    cursor: pointer;
}

#aboutTurbulenta {
    border: 2px solid hsl(231, 26%, 20%);
    border-radius: 20px;
    background-color: hsl(231, 26%, 20%);
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    grid-column: 1 / 2;
}
.grid1 img{
    width: 90%;
    grid-column: 2 / 3;
    height: auto;
}
.grid2 img{
    width: 90%;
    grid-column: 1 / 2;
    height: auto;
}