/*MODE SWITCH*/

#islandModeBox {
    margin: 15px 0 20px;
}

#islandModeBox button {
    font-size: 23px;
    font-weight: 800;
    text-shadow: 0px 0px 5px var(--lighterPastel);
    border: 5px solid var(--darkerPastel);
    padding: 11px 23px 10px;
    background-color: var(--darkPastel);
    transition: 0.5s;
}

#islandModeBox button:first-of-type {
    border-radius: 30px 0 0 15px;
}

#islandModeBox button:last-of-type {
    border-radius: 0 30px 15px 0;
    border-left: none;
}

#islandModeBox button:hover {
    box-shadow: inset 0 0 7px 1px rgb(109, 44, 0);
    background-color: var(--darkerPastel);
}

/*LIST*/

#islandLocationsBox {
    width: 100%;
}

#islandLocationsBox span {
    max-width: 500px;
}

#islandLocationsBox button {
    font-size: 25px;
    font-weight: 600;
    border: 3px solid var(--darkerPastel);
    box-shadow: inset 0 0 5px 1px rgb(109, 44, 0),
        0 0 0 3px var(--darkerPastel);
    padding: 12px 30px;
    background-color: var(--darkPastel);
    transition: 0.3s;
}

#islandLocationsBox button:first-of-type {
    border-radius: 15px 15px 0 0;
}

#islandLocationsBox button:last-of-type {
    border-radius: 0 0 15px 15px;
}

#islandLocationsBox button:hover {
    box-shadow: inset 0 0 7px 1px rgb(109, 44, 0),
        0 0 0 3px var(--darkerPastel);
    ;
    background-color: var(--darkerPastel);
}

/*MAP*/

#islandMapBox {
    position: relative;
    align-items: center;
}

#islandMap {
    width: 95%;
    max-width: 1200px;
    border: 5px solid rgb(0, 61, 147);
    border-radius: 20px;
    box-shadow: 0 0 15px 5px rgb(0, 174, 255);
}

#islandMapGrid {
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    height: 100%;
    width: 100%;
}

.poi {
    position: relative;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 700;
}

.islandMapPOIShield {
    height: 100%;
}

.islandMapPOIDot {
    height: 35px;
    width: 35px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: white;
}

/*POI DESCRIPTION BOX*/

#poiDescBox {
    position: relative;
    align-items: center;
    min-height: 400px;
    min-width: 300px;
    height: 60%;
    width: 45%;
    max-height: 600px;
    max-width: 450px;
    border: 12px double var(--mediumPastel);
    border-radius: 30px;
    background-color: var(--lighterPastel);
    transition: 0.2s;
    opacity: 0;
}

#poiDescBox h4 {
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 0 10px;
    background-color: var(--lighterPastel);
    z-index: 1;
}

#poiDescBox hr {
    position: absolute;
    width: 80%;
    top: 35px;
    border: 1px solid black;
}

#poiDesc {
    flex-grow: 1;
}

#poiDescBox img {
    flex-shrink: 1;
    height: 100%;
    max-height: 80%;
    max-width: 95%;
}

#poiDescBox button {
    height: 40px;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-top: 3px solid var(--mediumPastel);
    border-radius: 0 0 17px 17px;
    background-color: var(--lighterPastel);
    transition: 0.3s;
}

#poiDescBox button:hover {
    background-color: var(--lightPastel);
}