#islandMapBox {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

#islandMap {
    width: 95%;
    max-width: 1500px;
    border: 5px solid rgb(0, 61, 147);
    border-radius: 20px;
    box-shadow: 0 0 15px 5px rgb(0, 174, 255);
}

#islandMapGrid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    height: 100%;
    width: 100%;
}

.poi {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 700;
}

.islandMapPOIShield {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.islandMapPOIDot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: white;
}