/*TAG EXPLAINER*/

#tagsBox {
    width: 100%;
}

#tags {
    max-width: 700px;
    border: 3px solid var(--darkMarine);
    border-radius: 20px;
    padding: 0px 30px 10px 5px;
    background-color: var(--darkMarine);
}

#tagsBox h4 {
    text-indent: 1rem;
}

#tagsBox li {
    margin: 10px 0;
}

.tag,
.tagExample {
    color: var(--darkMarine);
    font-size: 1em;
    border-radius: 5px;
    padding: 2px 8px;
    background-color: rgb(179, 181, 215);
    transition: 0.2s;
}

/*LIST*/

.rpGroupBtnBox {
    width: 85%;
    max-width: 500px;
    border: 3px solid var(--darkerPastel);
    box-shadow: inset 0 0 5px 1px var(--deepPastel),
        0 0 0 3px var(--darkerPastel);
    padding: 12px 15px;
    background-color: var(--darkPastel);
    cursor: pointer;
    transition: 0.3s;
}

.rpGroupBtnBox:first-of-type {
    border-radius: 20px 20px 0 0;
}

.rpGroupBtnBox:last-of-type {
    border-radius: 0 0 20px 20px;
    border-bottom: 5px solid var(--darkerPastel);
}

.rpGroupBtnBox:hover {
    box-shadow: inset 0 0 7px 1px var(--deepPastel),
        0 0 0 3px var(--darkerPastel);
    background-color: var(--darkerPastel);
}

.rpGroupBtn {
    border: none;
    font-size: 25px;
    background-color: transparent;
}

.rpPlayBtnBox {
    display: none;
    width: 100%;
    margin-top: 5px;
}

.rpPlayBtn {
    width: 100%;
    font-size: 23px;
    border: none;
    box-shadow: 0 0 10px 5px var(--mediumPastel);
    padding: 3px 30px 0;
    background-color: var(--mediumPastel);
    transition: 0.3s;
}

.rpPlayBtn:hover {
    background-color: var(--lightPastel);
    box-shadow: 0 0 5px 5px var(--lightPastel);
}

/*ROLEPLAY*/

#roleplayBox {
    gap: 15px;
    margin-top: 30px;
    border: 3px solid var(--darkMarine);
    border-radius: 20px;
    background-color: var(--darkMarine);
    padding: 0px 30px 10px;
}

#roleplayBox h4 {
    margin: 15px 20px 0;
}

#seasonRP,
#shortDescRP,
#charsRP {
    margin: 0;
}

#charsRP,
#tagsRP {
    gap: 12px;
    cursor: pointer;
}

.tag:hover {
    background-color: rgb(228, 228, 238);
}

#seasonRP {
    font-size: 20px;
}

#shortDescRP {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.talkRP h5 {
    font-size: 1.2em;
    text-indent: 15px;
    margin: 0;
}

.talkRP p {
    font-size: 1.1em;
    margin: 3px 0 12px;
}

.talkRP:last-of-type {
    margin-bottom: -5px;
}

#roleplayBox button {
    width: 100%;
    color: white;
    font-size: 20px;
    border: 0;
    padding: 5px 0;
    background-color: transparent;
    transition: 0.2s;
}

#roleplayBox button:hover {
    color: var(--darkerPastel);
}