/*TAG EXPLAINER*/

#tagsBox {
    width: 100%;
}

#tags {
    max-width: 700px;
    border: 3px solid var(--darkMarine);
    border-radius: 20px;
    padding: 0px 30px 10px 5px;
    background-color: var(--darkMarine);
}

#tagsBox h4 {
    text-indent: 1rem;
}

#tagsBox li {
    margin: 10px 0;
}

.tag,
.tagExample {
    color: var(--darkMarine);
    font-size: 1em;
    border-radius: 5px;
    padding: 2px 8px;
    background-color: rgb(179, 181, 215);
    cursor: default;
    transition: 0.2s;
}

/*LIST*/

.rpGroupBtnBox {
    align-self: center;
    width: 85%;
    max-width: 500px;
    border: 3px solid var(--darkerPastel);
    box-shadow: inset 0 0 5px 1px var(--deepPastel),
        0 0 0 3px var(--darkerPastel);
    padding: 12px 25px;
    background-color: var(--darkPastel);
    cursor: pointer;
    transition: 0.3s;
}

.rpGroupBtnBox:first-of-type {
    border-radius: 20px 20px 0 0;
}

.rpGroupBtnBox:last-of-type {
    border-radius: 0 0 20px 20px;
    border-bottom: 5px solid var(--darkerPastel);
}

.rpGroupBtnBox:hover {
    box-shadow: inset 0 0 7px 1px var(--deepPastel),
        0 0 0 3px var(--darkerPastel);
    background-color: var(--darkerPastel);
}

.rpGroupBtn {
    width: 100%;
}

.rpGroupBtn hr {
    width: 0;
    flex-grow: 1;
    border: 1px solid var(--shadeBlack);
}

.rpGroupBtn button {
    font-size: 1.6em;
    border: none;
    padding: 0 20px;
    background-color: transparent;
}

.rpPlayBtnBox {
    display: none;
    gap: 10px;
    width: 100%;
    margin-top: 8px;
    border-top: 3px solid rgba(0, 0, 0, 0.3);
    padding: 3px 0 4px;
}

.rpPlayBtn {
    width: 100%;
    font-size: 1.5em;
    border: none;
    padding: 8px 30px 5px;
    background-color: transparent;
    transition: 0.3s;
}

.rpPlayBtn:hover {
    background-color: var(--lightPastel);
    box-shadow: 0 0 5px 1px var(--lightPastel);
}

/*FILTER*/

.rpListFilterBox {
    padding-bottom: 10px;
    background-color: var(--darkPastel);
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
    cursor: default;
}

.rpListFilter {
    width: calc(100% - 20px);
    font-family: "Noto Sans";
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
    border: none;
    padding: 3px 10px 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

.filterTagCheckBox {
    color: var(--shadeBlack);
    font-size: 1.3em;
    gap: 5px;
    font-weight: 700;
    cursor: pointer;
}

.filterTagCheck {
    display: inline-block;
    height: 23px;
    width: 23px;
    border-radius: 5px;
    box-shadow: inset 0 -2px 3px 3px rgb(109, 44, 0);
    background-color: var(--lightPastel);
    transition: 0.2s;
}

/*ROLEPLAY*/

#roleplayContainer {
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}

#roleplayBox {
    gap: 15px;
    margin-top: 30px;
    border: 3px solid var(--darkMarine);
    border-radius: 20px;
    background-color: var(--darkMarine);
    padding: 0px 30px 10px;
}

#roleplayBox h4 {
    font-size: 1.35em;
    text-align: center;
    margin: 20px 20px -3px;
}

#roleplayBox hr {
    margin: 0 auto;
}

#seasonRP,
#shortDescRP,
#charsRP {
    margin: 0;
}

#charsRP,
#tagsRP {
    gap: 12px;
    cursor: default;
}

.tag {
    font-size: 0.9em;
    height: min-content;
    cursor: pointer;
}

.tag:hover {
    background-color: rgb(212, 213, 233);
}

#seasonRP {
    text-align: center;
    font-size: 1.25em;
}

#shortDescRP {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.talkRPToken {
    position: relative;
    height: 50px;
    max-width: 50px;
    margin-left: 5px;
}

#talkRPCharBox {
    align-items: center;
    gap: 10px;
    margin: 7px 0 0;
}

#talkRPCharBox h5 {
    font-size: 1.2em;
    margin: 0;
    transition: 0.2s;
}

#talkRPCharBox h5:hover {
    transform: scale(1.05);
}

#talkRPNameBox span {
    opacity: 0.7;
}

.talkRP p {
    margin: 3px 0 12px;
}

.talkRP:last-of-type {
    margin-bottom: -5px;
}

#roleplayBox button {
    width: 100%;
    color: var(--shadeWhite);
    font-size: 1.3em;
    margin-top: -4px;
    border: none;
    border-right: 7px dotted transparent;
    border-left: 7px dotted transparent;
    padding: 5px 0;
    background-color: transparent;
    transition: 0.3s;
}

#roleplayBox button:hover {
    color: var(--darkerPastel);
    border-right: 7px dotted rgba(0, 0, 0, 0.8);
    border-left: 7px dotted rgba(0, 0, 0, 0.8);
}