nav {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(23, 155, 43);
}

/*DROPDOWN ELEMENT*/

.dropdownBox {
    overflow: hidden;
}

.dropdownBox:hover .dropdown {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    z-index: 1;
}

.tab {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 23px;
    padding: 15px;
}

.tab:hover {
    background-color: hsl(25, 75%, 67%);

}

.dropdown a {
    display: block;
    padding: 12px 16px;
    color: rgb(255, 255, 255);
    background-color: rgb(23, 155, 43);
}

.dropdown a:hover {
    background-color: rgb(234, 160, 108);
}

/*SPACE*/

#navSpacer {
    flex-grow: 1;
}

/*NAV ICONS*/

.navbarIconBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
}

.navbarIcon {
    max-height: 45px;
    max-width: 45px;
    margin: 0 8px;
}