.navbar {
    text-align: center;

    background-color: hsl(129, 74%, 35%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;

}

.navbar i {
    float: right;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#tab {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 20px;
    float: left;
}

#tab:hover {
    background-color: hsl(25, 75%, 67%);

}

.dropdown {
    float: left;
    overflow: hidden;

}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    top: 52px;
    box-shadow: 0px 8px 16px 0px;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    text-align: left;
    background-color: hsl(129, 74%, 35%);
    ;

}

.dropdown-content a:hover {
    background-color: hsl(25, 75%, 67%);
}

.dropdown:hover .dropdown-content {
    display: block;
}