/*BANNER*/

.bannerBox {
  position: relative;
  z-index: 0;
}

.bannerText {
  font-size: 23px;
  text-align: center;
  font-style: italic;
  text-shadow: 3px 3px 5px black;
  padding: 0 25px;
}

.bannerImg {
  position: absolute;
  top: 0;
  left: -25px;
  max-width: calc(100% + 50px);
  mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent);
  filter: blur();
  z-index: -1;
}