/*BANNER*/

.bannerBox {
  position: relative;
  width: 100%;
  z-index: 0;
}

.bannerText {
  font-size: 23px;
  text-align: center;
  font-style: italic;
  text-shadow: 3px 3px 5px black;
}

.bannerImg {
  position: absolute;
  top: 0px;
  max-width: 100%;
  mask-image: linear-gradient(#000000, hsla(0, 0%, 0%, 0));
  z-index: -1;
}

.grid2 {
  display: grid;
  grid-template-columns: 30% 35% 35%;
  grid-template-rows: 20px 1fr 1fr 1fr;
}

.grid2 img {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

#desc {
  grid-column: 2 / 3;
  grid-row: 2 / 2;
  display: inline-block;
  background-color: hsl(231, 26%, 20%);
  border: 1px solid hsl(231, 26%, 20%);
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

#mladizmaji {
  grid-column: 3 / 4;
  grid-row: 2 / 2;
  display: inline-block;
  background-color: hsl(231, 26%, 20%);
  border: 1px solid hsl(231, 26%, 20%);
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

#digimc {
  grid-row: 3 / 3;
  grid-column: 2 / 3;
  display: inline-block;
  background-color: hsl(231, 26%, 20%);
  border: 1px solid hsl(231, 26%, 20%);
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

#amulet {
  grid-column: 3 / 4;
  grid-row: 3 / 3;
  display: inline-block;
  background-color: hsl(231, 26%, 20%);
  border: 1px solid hsl(231, 26%, 20%);
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}