:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  box-sizing: border-box;

  color: rgba(255, 255, 255, 0.9);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-gutter: stable both-edges;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  background-color: rgb(19, 21, 32);
  overflow: overlay;
}

main {
  z-index: -1;
  padding: 0 25px 20px;
}

/*SCROLLBAR*/

::-webkit-scrollbar {
  height: 13px;
  width: 5px;
}

/* ::-webkit-scrollbar-track {
  background: transparent;
} */

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 1px 2px 3px 1px rgb(19, 70, 165);
  border-radius: 10px;
  background-color: rgb(7, 13, 49);
}

h1 {
  font-size: 50px;
  text-align: center;
  text-shadow: 3px 3px 5px black;
  margin: 0;
  padding: 30px 0 0;
  cursor: default;
}

h2 {
  position: relative;
  font-size: 30px;
  text-align: center;
  text-shadow: 3px 3px 5px black;
  cursor: default;
}

h3 {
  font-size: 25px;
  text-align: center;
  text-shadow: 3px 3px 5px black;
  cursor: default;
}

hr {
  width: 98%;
  padding: 0;
  margin: 0;
  border-color: rgba(255, 255, 255, 0.9);
}

button {
  cursor: pointer;
}

a {
  color: #9f7cff;
  font-weight: 500;
  text-decoration: inherit;
  transition: 0.3s;
}

a:hover {
  color: #643ce7;
}