:root {
  --lighterPastel: rgb(255, 228, 210);
  --lightPastel: rgb(255, 204, 171);
  --mediumPastel: rgb(232, 199, 167);
  --darkPastel: rgb(255, 158, 94);
  --darkerPastel: rgb(255, 139, 62);
  --deepPastel: rgb(109, 44, 0);
  --darkMarine: rgb(38, 42, 64);
  --deepBlue: rgb(0, 15, 66);
  --shadeWhite: rgba(255, 255, 255, 0.9);
  --shadeBlack: rgba(0, 0, 0, 0.9);
}

:root {
  box-sizing: border-box;


  color: var(--shadeWhite);
  font-family: Noto Sans, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-gutter: stable both-edges;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  background-color: rgb(19, 21, 32);
  overflow: overlay;
}

/*SCROLLBAR*/

::-webkit-scrollbar {
  height: 13px;
  width: 5px;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 1px 2px 3px 1px rgb(19, 70, 165);
  border-radius: 10px;
  background-color: rgb(7, 13, 49);
}

/*COMMON ELEMENTS*/

h1 {
  font-size: 2.4em;
  text-align: center;
  text-shadow: 3px 3px 5px var(--shadeBlack);
  margin: 0;
  padding: 30px 0 0;
  cursor: default;
}

h2 {
  position: relative;
  font-size: 1.8em;
  text-align: center;
  text-shadow: 3px 3px 5px var(--shadeBlack);
  margin: 0;
  cursor: default;
}

h3 {
  font-size: 1.6em;
  text-align: center;
  text-shadow: 3px 3px 5px var(--shadeBlack);
  cursor: default;
}

h4 {
  font-size: 1.25em;
  margin: 15px 20px 5px;
  cursor: default;
}

hr {
  width: 99%;
  padding: 0;
  margin: 0;
  border-color: var(--shadeWhite);
}

button {
  font-family: "Noto Sans";
  cursor: pointer;
  font-weight: 700;
}

b {
  font-weight: 800;
}

a {
  color: #0b9dff;
  text-decoration: inherit;
  transition: 0.3s;
}

a:hover {
  color: #7be0ff;
}