/* xs */
@media only screen and (min-width: 475px) {

    /*NAVIGACIJA*/
    .navbarIcon {
        max-height: 65px;
        max-width: 65px;
    }

    /*BANNER*/
    h1 {
        font-size: 2.6em;
    }

    #bannerText {
        font-size: 1.35em;
    }

    /*HOMEPAGE*/
    .homeInfoBox a {
        font-size: 1.35em;
    }

    .homeInfoBox h2 {
        font-size: 1.8em;
    }

    .homeInfoBox p {
        font-size: 1.25em;
    }

    /*ISLAND*/
    #islandModeBox button {
        font-size: 1.4em;
        padding: 11px 25px;
    }

    #islandLocationsBox button {
        font-size: 1.5em
    }

    #poiDesc h4 {
        font-size: 1.65em;
    }

    /*ARTIFACTS*/
    .artsBox {
        grid-template-columns: 1fr 1fr;
        gap: 10px 5px;
    }

    #artInfoTitle h4 {
        font-size: 1.5em;
        margin: 5px 15px;
    }

    #artInfoTitle hr {
        min-width: 15%;
    }

    #artInfoStory,
    #artInfoDesc {
        font-size: 1.2em;
    }

    /*CHARACTERS*/
    #charInfoClass,
    #charInfoBackground {
        font-size: 1.3em;
    }

    .charInfoText p {
        font-size: 1.1em;
        margin: 13px 5px;
    }

    /*ROLEPLAY*/
    h4,
    #seasonRP {
        font-size: 1.4em;
    }

    #shortDescRP {
        font-size: 1.15em;
    }

    .talkRP p {
        font-size: 1.1em;
    }

    .tag {
        font-size: 1em;
    }

    #talkRPNameBox {
        font-size: 1.05em;
    }

    .talkRP p {
        margin: 3px 0 15px;
    }
}

/* sm */
@media only screen and (min-width: 640px) {

    /*NAVIGACIJA*/
    .navbarIcon {
        max-height: 70px;
        max-width: 70px;
    }

    .tabLink {
        font-size: 1.9em;
    }

    .drop {
        font-size: 1.6em;
    }

    /*BANNER*/
    #bannerText {
        font-size: 1.5em;
    }

    /*HOMEPAGE*/
    .homeInfoBox a {
        font-size: 1.45em;
    }

    .homeInfoBox h2 {
        font-size: 1.9em;
    }

    .homeInfoBox p {
        font-size: 1.4em;
    }

    .homeInfoBox p,
    .homeInfoBox a {
        margin-left: 30px;
        margin-right: 30px;
    }

    /*ISLAND*/
    #islandModeBox button {
        font-size: 1.5em;
    }

    #islandLocationsBox button {
        font-size: 1.6em
    }

    #poiDescBox {
        max-width: 450px;
    }

    #poiDesc h4 {
        font-size: 1.8em;
    }

    #poiDescBox button {
        font-size: 1.55em;
        font-weight: 800;
        padding: 7px 20px;
    }

    /*ARTIFACTS*/
    .artsBox {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 12px 6px;
    }

    #artInfoTitle h4 {
        font-size: 1.6em;
        margin: 5px 25px;
    }

    #artInfoTitle hr {
        min-width: 23%;
    }

    #artInfoStory,
    #artInfoDesc {
        font-size: 1.3em;
    }

    /*CHARACTERS*/
    #charactersBox button {
        font-size: 1.6em;
    }

    h3 {
        font-size: 1.8em;
    }

    #charInfoClass,
    #charInfoBackground {
        font-size: 1.4em;
    }

    .charInfoText p {
        font-size: 1.2em;
    }

    #charInfoBox h5 {
        font-size: 1.5rem;
    }

    .charExpandBtn,
    .charInfoText {
        padding: 0 35px;
    }

    #charExitBtn {
        font-size: 1.5em;
    }

    /*ROLEPLAY*/
    #tags,
    .tag {
        font-size: 1.1em;
    }

    #roleplayBox h4 {
        font-size: 1.6em;
    }

    #seasonRP {
        font-size: 1.4em;
    }

    #shortDescRP {
        font-size: 1.2em;
    }

    .talkRPToken {
        margin-left: 8px;
        transform: scale(1.1);
    }

    #talkRPCharBox {
        gap: 12px;
    }

    #talkRPCharBox h5,
    #talkRPNameBox,
    .talkRP p {
        font-size: 1.15em;
    }

    .talkRP p {
        margin: 3px 0 20px;
    }
}

/* md */
@media only screen and (min-width: 768px) {

    /*BANNER*/
    #bannerBox {
        padding: 100px 10% 0;
    }

    /*HOMEPAGE*/
    .homeInfoBox a {
        font-size: 1.5em;
    }

    /*ARTIFACTS*/
    .artsBox {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .popArtScrollImg {
        max-height: 85px
    }

    /*CHARACTERS*/
    h3 {
        font-size: 1.9em;
    }

    #charInfoClass,
    #charInfoBackground {
        font-size: 1.5em;
    }

    .charImgHandle {
        font-size: 45px;
        width: 50px;
    }

    .charExpandBtn,
    .charInfoText {
        padding: 0 45px;
    }

    #charInfoBox h5 {
        font-size: 1.6rem;
    }

    .charInfoText p {
        font-size: 1.25em;
    }

    /*ROLEPLAY*/
    #roleplayBox {
        padding: 0px 50px 10px;
    }

    #shortDescRP {
        text-align: center;
    }
}

/* lg */
@media only screen and (min-width: 1024px) {

    /*BANNER*/
    h1 {
        font-size: 2.8em;
    }

    /*ISLAND*/
    #island {
        display: grid;
        grid-template-columns: 2fr 3fr;
        align-items: start;
    }

    #islandMode {
        margin: 0 0 25px;
    }

    #poiDescBox {
        justify-self: center;
    }

    /*CHARACTER*/

    #charWrapper {
        display: grid;
        grid-template-columns: 2fr 3fr;
        align-items: start;
    }

    #charInfoBox {
        position: relative;
        justify-self: center;
    }

    .charImgHandle {
        font-size: 40px;
        width: 45px;
    }

    /*ROLEPLAY*/
    #storiesWrapper {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }

    .rpGroupBtnBox,
    #roleplayBox {
        width: 75%;
    }

    #roleplayContainer {
        display: flex;
        justify-content: center;
    }

    #roleplayBox h4 {
        font-size: 1.8em;
    }

    #seasonRP {
        font-size: 1.5em;
    }

    #shortDescRP {
        font-size: 1.3em;
    }

    .talkRPToken {
        margin-left: 10px;
        transform: scale(1.2);
    }

    #talkRPCharBox {
        gap: 13px;
    }

    #talkRPNameBox {
        font-size: 1.2em;
    }

    .talkRP p {
        font-size: 1.25em;
    }
}

/* xl */
@media only screen and (min-width: 1280px) {}

/* 2xl */
@media only screen and (min-width: 1536px) {}