#bannerBox {
  padding: 90px 0 0;
}

#bannerText {
  font-size: 23px;
  text-align: center;
  font-style: italic;
  text-shadow: 3px 3px 5px black;
  padding: 0 25px 20px;
  cursor: default;
}

#bannerImg {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: calc(100% + 50px);
  mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent);
  z-index: -1;
}