#bannerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 95px 10% 0;
}

#bannerText {
  max-width: 750px;
  font-size: 1.25em;
  text-align: center;
  font-style: italic;
  text-shadow: 3px 3px 5px black;
  padding: 0 25px;
  cursor: default;
}

#bannerImg {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: calc(100% + 50px);
  mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent);
  z-index: -1;
}