footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

footer p {
    margin: 0;
    border-radius: 20px 20px 0 0;
    box-shadow: inset 0 0 25px 3px rgba(0, 0, 0, 0.9);
    padding: 1em 1.5em;
    background-color: rgba(19, 21, 32, 0.9);
    transform: translateY(45px);
    transition: 0.3s;
    pointer-events: all;
}

footer p:hover {
    transform: translateY(0);
}