header {
    width: 100%;
}

nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    pointer-events: none;
    z-index: 1;
}

#menuScreen {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110px;
    width: 100%;
    box-shadow: inset 0 0 100px 1px rgba(0, 19, 80, 0);
    padding-top: 20px;
    background-color: rgba(0, 72, 120, 0);
    transition: 0.3s;
    z-index: -1;
}

/*OPEN-CLOSE MENU*/

#homeBtn {
    position: relative;
    z-index: 1;
    width: 75px;
    pointer-events: all;
    transition: 0.3s;
}

#homeBtn:hover {
    transform: scale(1.1);
}

/*OPEN-CLOSE MENU SVG ANIMATION*/

#navArrowBtn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    transform: rotate(180deg) translateY(25px);
    pointer-events: all;
}

#navArrow {
    position: sticky;
    width: 55px;
    transition: 0.3s;
    overflow: visible;
    z-index: 0;
}

#navArrow:hover #arrowUpIn {
    transform: rotate(45deg) translate(-45px, -182px);
}

.cls-1 {
    fill: none;
    stroke: rgb(7, 13, 49);
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 30px
}

#arrowUpIn {
    transition: 0.2s;
    animation: 3s arrowInner ease infinite;
    transform: rotate(-45 82.175 102.97);
}

#arrowUpOut {
    animation: 3s arrowOuter ease infinite;
}

@keyframes arrowInner {
    0% {
        stroke: rgb(0, 21, 47);
    }

    60% {
        stroke: rgb(0, 208, 255);
    }

    100% {
        stroke: rgb(0, 21, 47);
    }
}

@keyframes arrowOuter {
    0% {
        stroke: rgb(39, 114, 255);
        transform: translateY(40px);
    }

    60% {
        stroke: rgb(0, 21, 47);
        transform: translateY(0px);
    }

    100% {
        stroke: rgb(39, 114, 255);
        transform: translateY(40px);
    }
}

/*MENU*/

#menu {
    position: absolute;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 100%;
}

/*DROPDOWNS*/

.dropBox {
    display: flex;
    width: 100%;
    padding: 5px;
}

.dropBox:hover .drop,
.drop:hover {
    display: flex;
}

.dropBox:hover .tab {
    border-left: 8px dotted var(--deepBlue);
    border-right: 8px dotted var(--deepBlue);
}

.tab {
    position: relative;
    width: 85%;
    text-align: center;
    text-shadow: 0 0 3px var(--deepBlue),
        0 0 5px rgb(0, 19, 80);
    border-left: 8px dotted transparent;
    border-right: 8px dotted transparent;
    transition: 0.3s;
}

.tab:hover .drop,
.drop:hover {
    opacity: 1;
}

.tab:hover .tabLink {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 2px var(--deepBlue),
        0 0 4px var(--deepBlue),
        0 0 6px var(--deepBlue),
        0 0 8px var(--deepBlue);
}

.tabLink {
    width: 100%;
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.8em;
    font-weight: 700;
    line-height: 1.4;
    transition: 0.3s;
    cursor: default;
}

.drop {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1.5em;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
    z-index: 3;
}

.linkBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    text-align: center;
    padding: 0 10px;
    background-color: rgba(0, 31, 77, 0.9);
    transition: 0.2s;
    pointer-events: all;
}

.linkBox:last-child {
    border-radius: 0 0 12px 12px;
    padding-bottom: 10px;
}

.linkBox:first-child a {
    padding: 15px 15px 5px;
}

.linkBox:hover a {
    color: var(--shadeWhite);
    text-shadow: 0 0 2px var(--deepBlue),
        0 0 4px var(--deepBlue),
        0 0 6px var(--deepBlue),
        0 0 8px var(--deepBlue);
}

.linkBox a {
    width: 100%;
    color: var(--shadeWhite);
    padding: 5px 15px;
}

.linkBox hr {
    width: 0;
    border: 1px solid var(--shadeWhite);
    opacity: 0;
    transition: 0.5s;
}

.linkBox:hover hr {
    width: 90%;
    opacity: 1;
}

/*NAV ICONS*/

#navbarIcons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.navbarIconBox {
    display: flex;
}

.navbarIcon {
    max-height: 55px;
    max-width: 55px;
    transition: 0.2s;
}

.navbarIcon:hover {
    transform: scale(1.1);
}